section.contact
	width: 100%
	@extend %clearfix

	h2
		// margin-bottom: 3em
	article.address
		float: left
		width: 50%
		clear: left

	article.contact
		float: left
		width: 50%
		border: 1px solid red

		h3
			float: left
			clear: left


		p
			display: block
			padding-left: 90px
			margin-bottom: 1em

section.exec-board
	// border: 1px solid red
	width: 100%
	h2
		// margin-bottom: 3em
	article.leader
		float: left
		width: 50%
		margin-bottom: 2em
		img
			float: left
			margin-right: 1em
		&:nth-child(2n)
			clear: left
			padding-right: 3em
		&:nth-child(2n+1)
			clear: right
			padding-left: 3em