.page-events

	section.events
		padding: 1em
		width: 100%
			
		article.event
			float: left
			margin-bottom: 3em
			width: 50%
			&:nth-child(2n+1)
				clear: left
				padding-right: 2em
			&:nth-child(2n)
				clear: right
				padding-left: 2em
			
			h3
				padding-bottom: 0.5em

			h4
				padding-bottom: 0.75em
	
	@media screen and (max-width: 700px)
		
		section.events
			article.event
				width: 100%
				
				&:nth-child(2n+1), &:nth-child(2n)
					padding: 0