.page-home

	.main article

		border: 5px solid #CBA55E
		background-color: black
		color: white
		max-width: 600px
		margin: auto
		padding: 3em 5em
		border-radius: 10px
		border-bottom-right-radius: 125px
		border-top-left-radius: 125px
		text-align: center
		
	section.mini-nav

		border: 1px solid blue
		width: 100%
		margin: auto
		article
			float: left
			width: 25%
			//margin-left: 5em
			padding: 1em
		h2
			border-bottom: 1px solid black
			
		@extend %clearfix
