section.kldp-board
	width: 100%
	// border: 1px solid blue


	article.kldp-leader
		float: left
		width: 50%
		// margin-bottom: 2em
		img
			// float: left
			// margin-right: 1em
			border: 3px solid #CBA55E
			// box-shadow: 2px 2px 5px #191919

		&:nth-child(2n)
			clear: left
			padding-right: 4em
		&:nth-child(2n+1)
			clear: right
			padding-left: 4em