.page-knightquest
	div.hours1
		float: left
		padding: 2em
		width: 50%
	div.hours2
		padding: 2em
	&:nth-child(2n+1)
		clear: left
		padding-right: 3em
		&:nth-child(2n)
			clear: right
			padding-left: 3em