.page-knightquest
	section.officehours
		padding: 1em
		width: 100%
		
		article.kq-leader
			float: left
			margin-bottom: 3em
			width: 50%

			&:nth-child(2n)
				clear: left
				padding-right: 1em

			&:nth-child(2n+1)
				clear: right
				padding-left: 1em

	@media screen and (max-width: 640px)
		
		section.officehours
		
			article.kq-leader
				width: 100%
				
				&:nth-child(2n), &:nth-child(2n+1)
					padding: 0